@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #000;

  
}

html
{
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  zoom: 80%;
}

@media (max-width: 717px) {
  body {
    zoom: 100%;
  }
}

